{% extends "base.html" %}
{% load static %}
{% block content %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Game: {{ game.title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Edit Game: {{ game.title }}</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
</form>
<p><a href="{% url 'game_details' game.id %}" class="button">Cancel</a></p>
</body>
</html>
{% endblock %}