{% extends "base.html" %}
{% load static %}
{% block content %}

<html>
<head>
    <meta charset="UTF-8">
    <title>Movie List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/movie-list.css' %}">

</head>
<body>
<div class="center-content">
    <h1>List of Movies on the app</h1>
    <div>
        {% for movie in movies %}
        <p><a href="{% url 'movie_details' movie.id %}" class="back-link">
            <button type="button" class="movie-button">{{ movie.title }}</button>
        </a></p>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if movies.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ movies.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">
                Page {{ movies.number }} of {{ movies.paginator.num_pages }}.
            </span>

            {% if movies.has_next %}
                <a href="?page={{ movies.next_page_number }}">next</a>
                <a href="?page={{ movies.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

</body>
</html>

{% endblock %}
